logs/
trained_models/
assets/smirk/pretrained_models/
assets/smirk/expression_templates_famos
assets/smirk/FLAME2020
assets/smirk/mica.tar
assets/smirk/ResNet50
assets/smirk/face_landmarker.task
assets/smirk/LRS3_lists.pkl
assets/smirk/MEAD_lists.pkl
output/
.vscode
__pycache__/